body{
    background: url(./images/1843.jpg) no-repeat; 
    background-size: cover; 
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.timer{ 
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-numbers{ 
  color: white;
  padding: 20px;
  font-size: 50px;
}
